/* footer.module.css */
.footer {
}

.left_content_container {
}

.right_content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer_items {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer_social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
