/* nav-item.module.css */

.nav_item {
  color: var(
    --text_primary
  ); /* Assuming white text to match the provided design */
  text-decoration: none; /* Remove underline from links */
  position: relative; /* To position the ::after element */
  transition: color 0.3s ease; /* Smooth transition for hover effects */
}

.nav_item::after {
  content: ""; /* Creates the underline element */
  position: absolute;
  left: 0;
  bottom: -5px; /* Positioned 5px below the text to create the gap */
  width: 0; /* Starts with no width */
  height: 2px; /* Height of the underline */
  background-color: var(--text_primary); /* Color of the underline */
  transition: width 0.3s ease; /* Smooth transition effect */
}

.nav_item:hover {
  color: var(
    --text_secondary
  ); /* Light gray hover effect to enhance interactivity */
}

.nav_item:hover::after {
  width: 120%; /* Expands the underline to 120% width on hover */
  left: -10%; /* Adjusts left position to center the extended line */
}
