:root {
  --background_primary: #000;
  --background_secondary: #1f1f1f;
  --text_primary: #fff;
  --text_secondary: #808080;
  --large_text_size: 55px;
  --medium_text_size: 37px;
  --small_text_size: 23px;
  --extra_small_text_size: 17px;
  /* --border_radius_normal: 15; */
  /* --border_radius_small: 5; */
  /* --button: 45px; */
  --nav_item: 20px;
  --footer_item: 18px;
  --nav_sub_header: 20px;
  --carousel_nav_item_text_size: 21;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

body {
  color: var(--text_primary);
  background: var(--background_primary);
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* Text styles from Figma */

.nav_item_text_style {
  font-size: var(--nav_item);
  font-weight: 300;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
}

.large_text_style {
  font-size: var(--large_text_size);
  font-weight: 400;
  font-family: var(--font-pp-monument-extended), Arial, Helvetica, sans-serif;
}

.medium_text_style {
  font-size: var(--medium_text_size);
  font-weight: 400;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
}

.small_text_style {
  font-size: var(--small_text_size);
  font-weight: 300;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
}

/* .button_text_style {
  font-size: var(--small_text_size);
  font-weight: 400;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
} */

.nav_sub_heading_text_style {
  font-size: var(--nav_sub_header);
  font-weight: 400;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
}

.carousel_nav_item_text_style {
  font-size: var(--carousel_nav_item_text_size);
  font-weight: 400;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
}

.footer_item_text_style {
  font-size: var(--footer_item);
  font-weight: 400;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
}

.extra_small_text_style {
  font-size: var(--extra_small_text_size);
  font-weight: 300;
  font-family: var(--font-anek-latin-expanded), Arial, Helvetica, sans-serif;
}
