.page {
  /* Default padding for larger screens */
}

.main {
}

/* Large screens, for desktop sizes greater than 1440px */
@media (min-width: 1440px) {
  .main {
  }
}

/* Extra large screens, typically greater than 1440px (e.g., 4K displays) */
@media (min-width: 1600px) {
  .main {
  }
}

/* Medium screens, typically tablets in landscape and smaller desktops (between 768px to 1439px) */
/* @media (max-width: 1439px) and (min-width: 768px) {
  .main {
    max-width: 90%; 
  }
} */

/* Small screens, typically tablets in portrait mode and mobile devices in landscape (up to 768px) */
/* @media (max-width: 767px) and (min-width: 600px) {
  .main {
    max-width: 95%;
  }
} */

/* Very small screens, typically mobile devices in portrait mode (up to 600px) */
/* @media (max-width: 599px) {
  .main {
    max-width: 100%;
  }
} */
